.rows {
    text-align: center;
    color: black;
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: stretch;
}

.cols {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 100%;
}

.items {
    user-select: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
}
.itemspp {
    color: gray;
}
.today {
    background-color: #030087;
}
.wrap {
    position: relative;
    background-color: #F2F2F2;
    border-radius: 15px;
    box-shadow: 3px 3px 3px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.daywrap {
    display: flex;
    flex-direction: row;
    margin: 15px 0px;
    width: 100%;
}

.daywrap > div {
    flex: 1;
    text-align: center;
    color: gray;
    font-weight: bold;
}

.yearwrap {
    display: flex;
    justify-content:  space-around;
    font-weight: bold;
    margin-top: 20px;
}


.deco {
    position: absolute;
    top: -10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.deco > div {
    width: 10px;
    height: 20px;
    background-color: #7E7E7E;
    border-radius: 3px;
}

.arrow {
    color: #030087;
}